# PLAYWRIGHT
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# created before e2e testing; deleted in e2e cleanup
/playwright/.auth/ 

# STORYBOOK
build-storybook.log
storybook-static/

# VITE
.swc/
.deadfiles/
stats.html
coverage/