# PLAYWRIGHT
/test-reports/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# STORYBOOK
build-storybook.log
storybook-static/

# VITE
build/
.swc/
.deadfiles/
stats.html
coverage/

# TYPESCRIPT
dist/