.github/
.vscode/
**/node_modules/**/*
**/generated/**/*
**/graphql.schema.json
**/dist/**/*
**/build/**/*
**/coverage/**/*
client/storybook-static/**/*
client/playwright-report/**/*
client/test-results/**/*